body{
    margin:0px;
    overflow:hidden;
    padding:0px;
    font-family:sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    width: 100%; height:100%;
    color: #202020
   }
h1{
       font-family:sans-serif;
       font-size: 1.1em;
       font-weight: 300;
       letter-spacing: 0.1ex;
       border:0;
       padding: 0px;
       margin:0
   }
a:link, a:visited {
        color: #5ca5ff;
        text-decoration: none;
        font-weight: 400;
        margin: 0px
    }
    
a:hover {
        color: #FF7800;
        text-decoration: none;
        font-weight: 600;
        margin: 0px
    }
a.amenu:link, a.amenu:visited {
		font-weight: 600;
		color: #444444;
		font-size: 1em;
        text-decoration: none;
        margin: 0px
    }
    
a.amenu:hover {
        color: #FF7800;
		font-size: 1em;
        text-decoration: none;
        font-weight: 600;
        margin: 0px
    }
li{
list-style-position:outside;
list-style-type:disc;
}
td {
        border:0px solid grey;
        margin: 0px;
        padding:0px
}
select, option{
        background-color: #FFFFFF;
        width: 100px;
        font-size: 0.9em;
        border: 1px solid #CCCCCC;
        text-align: left;
        margin-left: 20px
}

.radio{
        margin: 0 0 0 5px;
        padding: 0;
        border: 0;
        vertical-align:middle;
        }
label {
        padding:0;
        font-size: 0.9em
    }

.clear { clear: both}
/*use to place divs side by side*/

#map {
        position: fixed;    width: 100%; height:100%;
        border: 0px;
        padding: 0px;
     }
#control{
        position: absolute;
        width:100px;
        height: 22px;
        top: 5px;
        right: 5px;
       vertical-align: middle;
       text-align: center;
        overflow:hidden;
        -moz-border-radius:10px;
        border-radius:10px;
        border: 1px solid #CCCCCC;
        background-color: #F5F5F5;
        z-index: 10;
        opacity:1
}
.attributions{
            position: relative;
            font-size: 0.75em;
            color: #888888;
            text-align:right;
            margin-top: 5px;
            margin-bottom: 0px;
            margin-right: 10px
    }
.olControlPanZoomBar div {
    font-size: 1px;
    border: 1px solid #AAAAAA;
    -moz-border-radius:6px;
    border-radius:6px;
    z-index: 1004
}
.olButton {
    z-index: 1004
}
#zoom{
    position: absolute;
    top:0px;
    left: 16px;
    font-size: 0.75em;
    color: #050505;
    width: 24px;
    height: 11px;
    padding-top: 0px;
    text-align: center;
    vertical-align: center;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #AAAAAA;
    background-color: #F5F5F5;
    opacity: 0.5;
}
#right-container{
    position: absolute;
    bottom:16px;
    right: 16px;
    width: 50px;
}
#menu{
    position: relative;
    bottom:0px;
    right: 0px;
    height: 62px;
    width: 420px;
    }

#title{
    float:right;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #AAAAAA;
    font-size: 0.75em;
    color: #050505;
    height: 62px;
    text-align: center;
    vertical-align: center;
    background-color:#EEE; /*fallback*/
    background-color: rgba(245,245,245,0.7);
    z-index: 990;
}
#slide{
    position: relative;
    top: 5px;
    float:right;
    overflow: none;
    height: 18px;
    width: 75px;
    margin-top: -15px;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #AAAAAA;
    font-size: 0.95em;
    color: #888888;
    text-align: right;
    vertical-align: middle;
    background-color:#EEE; /*fallback*/
    background-color: rgba(245,245,245,0.7);
    z-index: 1000;
}
.float-right{
    float:right;
}
#search_input{
        border: 1px solid #CCCCCC;
        font-size: 1.1em;
        width: 80px;
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 0px
}
#status {
        font-size: 0.9em;
        margin: 5px;
        padding: 2px;
        width: 88px;
        line-height:100%;
        text-align: center;
        background-color: #FFFFFF;
        opacity:0.8;
        -moz-border-radius:5px; /* Firefox */
        border-radius:5px;
        border: 1px solid #CCCCCC;
}
#extendedmenu{
display: none;
    position: relative;
    right: 0px;
    width: 75px;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #aaaaaa;
    font-size: 0.75em;
    color: #444444;
    background-color:#EEE; /*fallback*/
    background-color: rgba(245,245,245,0.7);
}
#menubar{
    top:2px;
    text-align: center;
    font-weight: 600;
    color: #444444;
    font-size: 0.82em;
    line-height: 14px;
    width: 70px;
    margin: 3px;
}
#vector-help{
    max-width: 150px;
    margin: 5px;
    font-size: 0.85em;
    font-weight: 400;
    font-style:italic;
}
.hrmenu{border: 0; width: 90%; height: 1px; color: #AAAAAA; background-color: #AAAAAA}
#sideBar{
    position: absolute;
    right: 75px;
    height: 200px;
    width: 287px;
    bottom: 60px;
    background-color:#EEE; /*fallback*/
    background-color: rgba(245,245,245,0.7);
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #aaaaaa;
    display: none;
    overflow: auto;
}
#sideBarContent{
        font-size: 0.8em;
        background-color:#EEE; /*fallback*/
        background-color: rgba(245,245,245,0.6);
        opacity:1;
        height:160px;
		width: 270px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right:5px;
        overflow: auto;
        position: absolute
        
}
.sideBarHeader{
                top:0px;left:0px;right:0px;height:17px;position:relative;
                background-color:#EEE; /*fallback*/
                background-color: rgba(245,245,245,0.2);
                color: #444444;
                font-weight: 600;
                font-size: 0.82em;
                line-height: 14px
}
        #closeBox{
            position: relative;
                top:0px;
                text-align: center;
                font-weight: 600;
                color: #FFFFFF;
                width: 16px;
                margin: 0px;
                padding:0px;
                background-color:#EEE; /*fallback*/
                background-color:rgba(245,245,245,0.2);
                float:right;
                z-index: 1000;
        }
        #sideBarTitle{
                float: left;
                position:relative;
                top:0px
        }
#attributions{
    position: absolute;
/*
    width: 100%;
*/
    -moz-border-radius:6px;
    border-radius:6px;
    bottom:0px;
    left: 0px;
    font-size: 0.65em;
    background-color:#EEE; /*fallback*/
    background-color: rgba(245,245,245,0.3);
}
#helper-centering{
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: 1000;
    height:2px;
}
#helper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    padding-top: 3px;
    width: 220px;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #aaaaaa;
    background-color:#EEE; /*fallback*/
    background-color: rgba(245,245,245,0.7);}
#waiter{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    padding-top: 250px;
    width: 50px;
}
#print-settings{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    padding-top: 3px;
    width: 220px;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #aaaaaa;
    background-color:#EEE; /*fallback*/
    background-color: rgba(245,245,245,0.7);}
#catcher{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 3px;
    width: 350px;
    font-size: 0.9em;
    font-weight: 300;
    /*height: 26px;*/
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #aaaaaa;
    background-color:#EEE; /*fallback*/
    background-color: rgba(245,245,245,0.7);}
#zoomin-helper{
    position: relative;
    margin: 5px;
    font-size: 0.95em;
    color: #444444;
}
#routing{
        padding-top: 10px;
}
#permalink{
    position: absolute;
    bottom: 0px;
    font-size: 0.8em;
    right: 100px;
}
.box {
        position: relative;
        display: block;
        padding: 2px;
        margin: 5px;
        line-height:100%;
        text-align: center;
        background-color: #FFFFFF;
        opacity:0.8;
        -moz-border-radius:5px; /* Firefox */
        border-radius:5px;
        border: 1px solid #888888;
}

