body{
    margin:0px;
    overflow:hidden;
    padding:0px;
    font-family:sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    width: 100%; height:100%;
    color: #505050
   }
h1{
       font-family:sans-serif;
       font-size: 1.1em;
       font-weight: 300;
       letter-spacing: 0.1ex;
       border:0;
       padding: 0px;
       margin:0
   }
a:link, a:visited {
        color: #000000;
        text-decoration: none;
        font-weight: 400;
        margin: 0px
    }
    
a.amenu:link, a.amenu:visited {
        font-weight: 500;
        color: #444444;
        font-size: 1em;
        text-decoration: none;
        margin: 0px
    }
a.amenuLtEmphasis {
        color: #FF7800;
        font-size: 1em;
        text-decoration: none;
        font-weight: 500;
        margin: 0px
    }
select, option, input{
        background-color: #FFFFFF;
        width: 150px;
		font-size: 0.9em;
		font-weight: 300;
        border: 1px solid #CCCCCC;
        text-align: left;
        margin: 5px 5px 5px 5px;
}
.toCaps{text-transform: uppercase;}
.hrmenu{
   border: 0; 
   width: 100%;
   height: 1px;
   color: #EEEEEE;
   background-color: #EEEEEE;
   line-height: 2px;
   margin-top: 0px;
   margin-bottom: 0px;
   }
hr{border: 0; width: 90%; height: 1px; color: #AAAAAA; background-color: #AAAAAA}
hr.light{border: 0px; padding:0px; margin:0px; width: 100%; height: 1px; color: #CCC; background-color: #CCC}
hr.superlight{border: 0px; padding:0px; margin:0px 30px 0px 30px; width: 80%; height: 1px; color: #EEE; background-color: #EEE}
.news {
    font-size: 0.8em;
    font-style: italic;
    border: 5px solid #FFFFFF;
     background-color: #EEEEEE;
    border-radius: 8px;
    padding: 10px;
}
.clear { clear: both}
/*use to place divs side by side*/

.float-right{
    float:right
}
.float-left{
    float:left
}
.hidden {
    display: none
}
.shown {
    display: inline
}
#map {
        position: fixed;
        width: 100%; 
        top: 35px;
        left: 0px;
        bottom: 0px;
        border: 0px;
        padding: 0px;
     }
.olButton {
    z-index: 1004
}
#attribution{
position: absolute;
bottom: 1px;
right:1px;
font-size: 0.8em;
font-weight:300;
z-index: 1000;
background-color: #F5F5F5;
opacity: 0.4;
color: black;

}
.olControlZoom {visibility:hidden;}

#zoom{
    position: absolute;
    top:68px;
    right: 6px;
    width: 34px;
    font-size: 0.8em;
    text-align: center;
    vertical-align: center;
    color: #222;
    font-weight: 400;
    background-color: rgba(255,255,255,.4);
    opacity: 0.7;
/*
    border: 1px solid #aaa;
*/
    border-radius: 4px;
    opacity: 0.5;
    z-index: 1000;
}

#map .ol-zoom {
    left: unset;
    right: 6px;
    top:6px;
    padding: 2px;
}
#map .ol-zoom-out{
    color: #222;
    background-color: #FFF;
    right: 41px;
    width: 28px;
    height:28px;
}
#map .ol-zoom-in{
    color: #222;
    background-color: #FFF;
    right: 41px;
    width: 28px;
    height:28px;
}
.closebox {float: right;}
#header{
position: absolute;
    float:right;
/*
    -moz-border-radius:6px;
    border-radius:6px;
*/
    border: 1px solid #AAAAAA;
    font-size: 0.75em;
    color: #050505;
    width: 100%;
    height: 38px;
    vertical-align: center;
    background-color:#FFF;
    background-image: url('pics/opensnowmap_title_thin_350.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: scroll;
    background-size: 150px;
    
}
.Button {
    background-color:#FDFDFD;
    border-style:solid;
    border-width:0px 0px 0px 0px;
    border-color: #1A1A1A;
    padding: 5px;
    margin: 2px;
/*
    -moz-border-radius:5px;
    border-radius:5px;
*/
}
.noBorder {
    border-width:0px;
    }
.ButtonStatic {
    background-color:#FDFDFD;
    border-style:solid;
    border-width:2px;
    border-color: #ccc;
    padding: 1px;
    margin: 2px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.Button:hover{
    background-color:#DBDBDB;
}
.Button:active{
    background-color:#E65B3F;
}
.Button:disabled{
    background-color:#E65B3F;
    color: #AAA;
}
.iconButton{
   width: 30px;height: 30px;
    margin-left: 0px;
    margin-right:0px;
    border-width:0px;
/*
    border-radius:3px;
*/
    padding: 2px 2px 2px 2px;
}
.iconButtonHint{
   width: 160px;
   font-size: 0.7em;
   text-align: center;
}

.button-img {  
      width: 26px;
/*
      margin: 2px 2px 2px 2px;
*/
  }
.flagMenuImg {margin: 8px 5px 8px 5px;width: 20px;}

.menuButton {
    margin-left:15px;
}
.textButton{
    font-weight: 300;
    color: #444444;
    font-size: 0.8em;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 1px;
    max-width: 200px;
    text-align:left;
}
/*
For menuEntries, set the width and display: inline-block + vertical-align: middle; will wrap icons and text nicely
*/
.menuEntryText {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
}
.menuEntryExpand {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
}
.menuEntryIcon {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.textButtonDropDown{
    font-weight: 300;
    color: #444444;
    font-size: 0.8em;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 1px;
    max-width: 170px;
    text-align:left;
}

.menuDropDownContent {
    display:none;
    left: 20px;
    }

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div.olMapViewport {
    -ms-touch-action: none;
    position: absolute;
}
.olLayerGrid .olTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
/* Turn on GPU support where available */
/*
.olTileImage {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
*/

/*                  Piste list                       */
.singlePiste{
font-size: 0.9em;
  border: 1px solid #EEEEEE;
}
.singlePisteHeader{
}
.singlePisteLongName {
  font-weight:600;
}
.singlePisteShortName {
  font-weight:600;
}
.singlePisteLeft{
  float: left;
  width: 40px;
}
.singlePisteRight{
  float: left;
  width: 150px;
}
.singlePisteFooter{
}

.pisteListElement{
    background-color:#FFF;
    margin: 0px;
    padding:0px;
    font-size:0.9em;
  border: 1px solid #EEEEEE;
}
.pisteListButton{
    background-color:#FFFFFF;
/*
    border: 0px solid grey;
*/
    padding: 2px;
    margin: 0px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.pisteListButtonStatic{
    background-color:#FFFFFF;
/*
    border: 0px solid grey;
*/
    padding: 2px;
    margin: 0px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.pisteListButton:hover{
    background-color:#DDDDDD;
}
.pisteListButton:active{
    background-color:#CCCCCC;
}
.inRouteElement{
  font-size: 1em;
  font-style:oblique;
  margin: 0px 0px 0px 5px;
  border: 1px solid #EEEEEE;
/*
  float:left
*/
}
.inSiteElement{
  font-size: 1em;
  font-style:oblique;
  margin: 0px 0px 0px 5px;
  border: 1px solid #EEEEEE;
/*
  float:left
*/
}

.elementExtLink{
  font-size: 0.95em;
  font-style:oblique;
  margin: 0px 0px 0px 20px;
  float:left
}
.routeLengthElement{
  font-size: 1.2em;
}
.pisteIconDiv {
    float:left;
    vertical-align: middle;
}
.pisteIcon {
    margin-left: 3px;
}

.getProfileButton, .getMemberListButton, .moreInfoButton{
float:right;
}
.flagMenuImg {vertical-align: middle;}

.textImg {vertical-align:middle;}
#content-outer {
        position: fixed;
        top: 38px;
        left: 0px;
        right:10px;
        z-index: 1000;
        max-height: calc(100vh - 40px);
}
#content {
        position: absolute;
        top: 0px;
        left: 0px;
/*
        right:10px;
*/
        padding: 0px 10px 10px 10px;
        border-style: solid;
        border-color: #AAAAAA;
        border-width: 0px 1px 1px 1px;
        background-color: #FFF;
        overflow: auto;
        max-height: calc(100vh - 40px);
        max-width: calc(100% - 30px);
        width: calc(100% - 30px);
        z-index: 1;
        
        scroll-behavior: smooth;
/*
        max-width:210px;width:210px;top: 39px;
*/
        
     }
#legend {
        overflow: scroll;
     }
@media (max-width:767px) {
    .mapkeyImg{
        max-width: 942px;
    }
}

#left_scroll{
	position:fixed;
	left:0px;
	top:70px;
	margin: 5px;
  padding: 0px;
  border-style: solid;
  border-color: #888888;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.5);
  z-index: 999;
  box-shadow: 3px 3px 2px #666666;
}
#right_scroll{
	position:fixed;
	left:calc(80% - 60px);
	top:70px;
	margin: 5px;
  padding: 0px;
  border-style: solid;
  border-color: #888888;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.5);
  z-index: 999;
  box-shadow: 3px 3px 2px #666666;
}
#content-control {
  position: absolute;
  right: -14px;
  top: 25px;
  height: 70px;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px 1px 1px 1px;
  border-radius: 6px;
  background-color: #FFF;
  z-index: -1;
}
#reduceButton{
  position: relative;
  top: 15px;
}

#content-control-closed {
  position: fixed;
  left: -10px;
  padding-left: 10px;
  top: 63px;
  height: 70px;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px 1px 1px 0px;
  border-radius: 6px;
  background-color: #FFF;
  z-index: 999;
  
}
  #titleimg {width: 200px;} 

  #map {top: 38px;}
  #search_header {margin:-5px;}

#piste_search_results{
    }
#nominatim_results{
    }
#search_input{width: 120px;}
/*
#listViewportButton{width: 150px;}
*/
.profilePic {
border: 2px solid #efefef;
padding: 2px 2px 2px 2px;
display: block;
margin-right:auto;
margin-left:auto;
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    animation: blink normal 3s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
/* overlay routing contols */
    .overlayImg {
      height: 1.5em;
      margin: 0.2em;
    }
    .overlay_controls {
      margin: 0em0.2em 0em 0.2em;
      height: 1.9em;
      width: 1.9em;
      background-color: rgba(230, 235, 255, 0.7);
      border-radius:0.95em;
    }
    .overlay_close {
      height: 1.6em;
      float: right;
      border-left: 1px solid black;
    }
    #overlay_content {
	display: block;
    }
    #close_popup {
		display: block;
		position: absolute;
		top: 0.5em;
		left: 3em;
	}
    #delete_all {
		display: block;
		position: absolute;
		top: 2.4em;
		left: 2.4em;
	}
    #delete_point {
		display: block;
		position: absolute;
		top: 3em;
		left: 0.5em;
	}
/* elevation profile min-gallery */
.imgSlider {
  width: 200px;
  text-align: center;
  overflow: hidden;
}
.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
}
