.pisteListButton{
	background-color:#FFFFFF;
	border: 0px solid grey;
	padding: 2px;
	margin: 1px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.pisteListButton:hover{
	background-color:#EEEEEE;
}
.pisteListButton:active{
	background-color:#CCCCCC;
}
.pisteListElement{
	background-color:#F8F8F8;
	margin: 2px;
	padding:2px;
}
.sitesListElement{
	padding:6px;
}
.pisteElement{}
.inRouteElement{}
.inSiteElement{}
